@import url('https://fonts.googleapis.com/css2?family=Figma+Hand:wght@100&display=swap');

* {
    margin: 0%;
    box-sizing: border-box;
}

main{
  margin-left: 1%;
  margin-right: 1%;
}

body{
  align-items: center;
  text-align: center;
}

header {
  background-color: #93BDF3;
  padding: 10px 20px;
  position: relative;
  height: 175px;
} 

.top-nav {
  position: absolute;
  top: 10px;
  right: 20px;
}

.top-nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.top-nav ul li {
  margin: 0;
}

.top-nav ul li a {
  text-decoration: none;
  font-family: 'IBM Plex Mono';
  color: #000;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 5px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

header h1 {
  font-family: 'Patrick Hand', cursive;
  font-style: italic;
  font-weight: bold;
  font-size: 42px;
  color: #291CE7;     
  margin-left: 15%;
  margin-top: 2%;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,  
  -1px 1px 0 #000,  
  1px 1px 0 #000;        
}

header img {
    width: 80%;
    height: auto;
    display: block;
}

header button {
    width: 160px;
    height: 50px;    
    background-color: #ffffff;
    color: #291CE7;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-size: 24px;
    border-bottom: #291CE7;
    border-radius: 30px;
    margin-right: 5%;
    margin-top: 2%;
}

#logo {
    width: 175px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; 
    padding: 0; 
}
hr {
    height:0.01pc;
    background-color: #000;
    margin-bottom: 40px;
    margin-top: 15px;
}

footer {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    text-align: center;
    padding: 40px;
    background-color: #D9D9D9;
}

#fotoPrincipal{
    width: 1480px;
    height: 831.05px;
    margin-block: 50px;
  }

.titulos{
  font-size: 46px;
    text-align: center;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
}

.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 2%;
    top: 1%;
  }

  .izquierda {
    flex: 1; 
    background-color: #291CE7;
    border-radius: 50px;
    border-right: 20px solid #FFFFFF;
    border-left: 20px solid #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .centro {
    flex: 1;
    background-color: #291CE7;
    border-radius: 50px;
    border-right: 20px solid #FFFFFF;
    border-left: 20px solid #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  .derecha {
    flex: 1;
    background-color: #291CE7;
    border-radius: 50px;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .precioNoche{
    margin-left: 5%;
    font-size: 48px;
  }

  .reservarNoche{
    margin-right: 5%;
    font-size: 48px;
  }

  .imgRedondeada{
    width: 500px;
  }

.letraBlanca{
    color: #FFFFFF;
    font-family: 'IBM Plex Mono';
    font-size: 32px;
    text-align: left;

  }

.letraBotones {
    font-family: 'Patrick Hand', cursive;
    font-size: 46px;
    background-color: #EEB600;
    font-weight: 100;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
}

.letraBotonesCentrado {
  font-family: 'Patrick Hand', cursive;
  font-size: 48px;
  background-color: #EEB600;
  font-weight: 100;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 12px 16px;
}

.izquierdaGal {
  flex: 1;
  display: block;
}

.derechaGal {
  flex: 1;
}

.izquierdaGal img {
  margin-bottom: 60px; 
  max-width: 100%;
  height: auto; 
  margin: 20px, 0, 0, 0;
}

button {
  cursor: pointer; 
  transition: transform 0.3s ease; 
}

button:hover {
  transform: scale(1.1);
}

#mapaHotel{
  width: 70%;
  height: auto;
}

.tipoServicios{
  width: 21%;
  text-align: center;
  background-color: #93BDF3;
  border: 1px solid #000;
  margin-left: 8%;
}

.tipoServicios hr {
  border: 1px solid #000;
}

div ul {
  list-style-position: inside;
  text-align: left;
}

.emoticono {
  width: 10%;
  height: auto;
}

/*Reservas.html*/

.header-reservar {
  background-color: #FFFFFF;
  padding: 10px 20px;
  position: relative;
  height: 175px;
} 

.volver {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  font-size:120px; 
  color: #93BDF3; 
  transition: color 0.3s, transform 0.2s; 
}

.formulario-reservas {
  font-family: 'IBM Plex Mono';
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.formulario-reservas hr {
  height:0.01pc;
  background-color: #000;
  margin-bottom: 40px;
  margin-top: 15px;
}

.fecha-entrada{
  background-color: #93BDF3;
  padding: 15px;
  display: inline-block;
  width: 350px;
  height: 140px;
  margin: 50px;
  text-align: center;
}

.fecha-salida{  
  background-color: #93BDF3;
  padding: 15px;
  display: inline-block;
  width: 350px;
  height: 140px;
  margin: 50px;
  text-align: center;
}

.personas{
  background-color: #93BDF3;
  padding: 15px;
  display: inline-block;
  width: 300px;
  height: 50px;
  margin: 50px;
  text-align: center;
}

.habitaciones{
  background-color: #93BDF3;
  padding: 15px;
  display: inline-block;
  width: 380px;
  height: 50px;
  margin: 50px;
  text-align: center;
}

.precio-total{
  background-color: #93BDF3;
  padding: 15px;
  display: inline-block;
  width: 350px;
  height: 50px;
  margin: 50px;
  text-align: center;
  border-radius: 30px;
}

.letraBotonesReservas {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  background-color: #EEB600;
  font-weight: 100;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-left: 95%;
}

.lineas-calculo {
  border-top: 2px solid black; 
  margin: 20px 0; 
  width: 33%;  
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.chat {
  color:#93BDF3;
  font-size: 50px;
  margin-right: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 25px;
}

.contactos {
  width: 1000px;
  height: auto;
  align-items: center;
  margin-bottom: 3%;
}
