* {
    margin: 0%;
    box-sizing: border-box;
}

header {
    background-color: #93BDF3;
    display: flex;
    align-items: center;
    height: auto;
    justify-content: space-between;
}

header h1 {
    font-family: 'Patrick Hand';
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    color: #291CE7;
    position: relative;                
}

header img {
    width: 80%;
    height: auto;
    display: block;
}

header button {
    width: 180px;
    height: 50px;    
    background-color: #ffffff;
    color: #291CE7;
    font-family: 'IBM Plex Mono' monospace;
    font-weight: bold;
    font-size: 24px;
    border-bottom: #291CE7;
    border-radius: 30px;
    margin-top: 5%;
    margin-right: 10%;
    position: relative;
}

#logo {
    width: 175px;
    height: auto;
    margin-right: 0%;
}

hr {
    height:0.01pc;
    background-color: #000;
    margin: 0%;
}

footer {
    font-family: 'IBM Plex Mono' monospace;
    font-size: 16px;
    text-align: center;
    padding: 40px;
    background-color: #D9D9D9;
}

#fotoPrincipal{
    width: 1480px;
    height: 831.05px;
    margin-left: 10%;
  }

.titulos{
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
  }
  
  .izquierda {
    flex: 1; 
    text-align: center;
    background-color: #291CE7;
    border-radius: 50px;
    border-right: 10px solid #FFFFFF;
  }

  .centro {
    flex: 1;
    text-align: center;
    background-color: #291CE7;
    border-radius: 50px;
    border-right: 10px solid #FFFFFF;
    border-left: 10px solid #FFFFFF;
  }
  
  .derecha {
    flex: 1;
    text-align: center;
    background-color: #291CE7;
    border-radius: 50px;
    border-left: 10px solid #FFFFFF;
  }

  .imgRedondeada{
    width: 400px;
  }

  .letraBlanca{
    color: #FFFFFF;
  }
